<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li style="text-align: left"><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>
        {% endif %}
      {% endif %}

      <li style="text-align: center; margin-right: 5px; margin-left: 5px"><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>

      {% if paginator.next_page %}
      <li style="text-align: right;"><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </nav>
</div>
