---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../css/modern-blog.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
    <!--[if IE]>
    <script type="text/javascript" src="js/vendors/html5.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <h1>Geek & Tech Girls</h1>
        <nav class="links">
            <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a><span class="exclamationMark">/</span>

            {% for sitePage in site.pages %}
            {% if sitePage.title %}

            <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a><span class="exclamationMark">/</span>
            {% endif %}
            {% endfor %}
        </nav>
    </header>
    <div class="content">
        {% for post in site.posts %}
        {% for cat in post.categories %}
        {% if cat == page.category %}


          <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
          </div>
          <div class="postDay">
            {{post.tag}}
          </div>
          <br>
          <div class="postTitle">
          <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
          </div>
          <div class="postExt">
            {{post.excerpt}}
          </div>
        {% endif %}
        {% endfor %}

        {% endfor %}
    </div>
    <footer>
        <nav class="links">
            <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-tumblr-square fa-3x"></i></a>
        </nav>
    </footer>
    <!-- /container -->
</div>
<!-- JS -->
<script src="../js/vendors/trianglify.min.js"></script>
<script src="../js/vendors/TweenMax.min.js"></script>
<script src="../js/vendors/ScrollToPlugin.min.js"></script>
<script src="../js/vendors/cash.min.js"></script>
<script src="../js/card-modern-blog.js"></script>
<script src="../js/modern-blog.js"></script>
</body>
</html>
